body {
    background: #eee;
    font-family: 'Halant', serif;
    font-size: 18px;
}

.wrapper {
    background: #fff;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

section, aside {
    float: left;
    width: 48%;
    padding: 1%;
    margin: 20px auto;
}
